body{
    background-color: #E2DDD0;
    margin: 0;
    display: flex;
    position: relative;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.conteiner{
    display: grid;
}

/* carcasa */

.parent {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
.div { grid-area: 1 / 1 / 2 / 2; }

.div1 {
    background-color: #BCB19F;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 9px;
    padding: 0px 30px 10px 30px;
}

.div1 h1{
    font-family: 'Mr Dafoe', cursive;
    font-size: 30px;
    color: #fff;
    text-align: center;
}

.input-box {
    padding: 5px;
}

.input-box label{
    font-size: 20px;
    font-weight: bold;
}

.input-box input{
    height: 35px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 0px;
    font-size: 16px;
}


/* grabar */

.boton .btn-success {
    background-color:  #0584ce;
    border: none;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }
  
  .boton .btn-success:hover {
    background-color:   #046daa;
  }

  .boton {
    display: flex;
    flex-direction: column;
    align-items: center;
  }



/* footer */

.fin {
    background-color: #57461c;
    color: white;
}

.logotipo {
    font-family: 'Mr Dafoe', cursive;
    font-size: 35px;
    color: #fff;
    font-weight: 100;
    margin: 0;
}

.fin p{
    margin: 0;
}

.fin h2{
    text-align: center;
}

.fin {
    position: relative;
    bottom: 0;
    width: 100%;
}
